@import "tailwindcss";

@theme {
  --color-gray-900: #111827;
  --color-gray-800: #1f2937;
  --color-indigo-400: #818cf8;
  --color-teal-400: #2dd4bf;
  --color-gray-100: #f3f4f6;
  --color-gray-400: #9ca3af;
}

:root {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  /* Default to dark mode */
  color: var(--color-gray-100);
  background-color: var(--color-gray-900);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

a {
  font-weight: 500;
  color: var(--color-indigo-400);
  text-decoration: inherit;
  transition: color 0.2s;
}

a:hover {
  color: var(--color-teal-400);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 0.5em;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}